<% if(locals.user && locals.user.id == comment.user.id){ %>
    <small>
        <a class="delete-comment-button" href="/comments/destroy/<%= comment.id %>">
            <small>Delete Comment</small>
        </a>
    </small>
<% } %>
<%= comment.content %>
<br>
<small>
    <%= comment.user.name %>
</small>