#user_form{
    display: flex;
    flex-direction: column;
}

.user-form-attribute{
    margin: 4px;
    padding: 3px;
    text-align: left;
    display: block;
    width:fit-content;
    height: 25px;
}

.user-form-attribute a{
    font-size: larger;
}